<nav class="navbar text-white bg-info text-center">
  <h2>Social Presentation</h2>
  <small>GenerazioneY</small>
</nav>

<br>

<div class="container-fluid">
  <div class="row jumbotron">

    <div class="col-3 text-center">
      <i class="fa fa-facebook-square fa-lg sp-icon" (click)="initChart('fb')"></i>
      <div class="under-icon"></div>
    </div>

    <div class="col-3 text-center">
      <i class="fa fa-instagram fa-lg sp-icon"       (click)="initChart('ig')"></i>
      <div class="under-icon"></div>
    </div>

    <div class="col-3 text-center">
      <i class="fa fa-twitter-square fa-lg sp-icon"  (click)="initChart('tw')"></i>
      <div class="under-icon"></div>
    </div>

    <div class="col-3 text-center">
      <i class="fa fa-youtube-square fa-lg sp-icon"  (click)="initChart('yt')"></i>
      <div class="under-icon"></div>
    </div>

  </div>
</div>

<label class="container_checkmark pull-right">
  <input type="checkbox" [(ngModel)]="isChecked" (change)="onlyProv(isChecked)">
  <span class="checkmark"></span>
  &nbsp; <small>Mostra solo province</small>
</label>
<div style="clear: both;"></div>

<div id="chartdiv"></div>

<footer>
  <nav class="navbar bg-info text-center text-white">
    <span class="text-center" style="width: 100%">
      Coded By <a href="https://github.com/Helias" class="text-white">Stefano Borzì</a> & <a href="https://github.com/daxcpp" class="text-white">Davide Carnemolla</a>
    </span>
  </nav>
</footer>
